<a href="https://colab.research.google.com/github/olamineZakaria/Statistical-inference_python/blob/main/Airplane_Crashes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#import libraries libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date, datetime,timedelta


df = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908.csv')

In [ ]:
df.sample(5).T

,962,3137,18,4414,305
Date,08/29/1948,05/25/1979,04/07/1918,05/03/1996,09/12/1933
Time,17:05,15:04,21:30,22:00,NaN
Location,"Near Winona, Minnesota","Chicago O'Hare, Illinois",Over the Mediterranean,"Near Haj Yousif, Sudan","Ljubljana, Yugoslavia"
Operator,Northwest Orient Airlines,American Airlines,Military - German Navy,Federal Airlines,Aeroput
Flight #,421,191,NaN,NaN,NaN
Route,Chicago - Minneapolis,"Chicago, IL- Los Angeles, CA",NaN,Wadi Halfa - Khartoum,NaN
Type,Martin 202,McDonnell Douglas DC-10-10,Zeppelin L-59 (airship),Antonov AN-24,Farman F-306
Registration,NC93044,N110AA,NaN,ST-FAG,YU-SAH
cn/In,9165,46510/22,NaN,STFA001,NaN
Aboard,37.0,271.0,23.0,53.0,8.0
Fatalities,37.0,271.0,23.0,53.0,8.0
Ground,0.0,2.0,0.0,0.0,0.0
Summary,Crashed following the separation of the left w...,"During takeoff just, as the plane lifted from ...",Exploded and crashed into the sea off the sout...,After a number of failed landing attempts duri...,Crashed during takeoff on the ground of an ins...

In [ ]:
df.shape

(5268, 13)

# Dataset consist of 5268 observations (crashes) and 13 features.

In [ ]:
df.columns

Index(['Date', 'Time', 'Location', 'Operator', 'Flight #', 'Route', 'Type',
       'Registration', 'cn/In', 'Aboard', 'Fatalities', 'Ground', 'Summary'],
      dtype='object')

# Aircraft Crash Information:

- **Date:** date the crash
- **Time:** time the crash
- **Location:** City, Country
- **Operator:** Airline Name (Royal air maroc,rayanair,.....)
- **Flight #:** Flight Number
- **Route:** Departure - Destination
- **Type:** Aircraft Type (Boeing 737,Airbus A320,....)
- **Registration:** Aircraft Registration (An aircraft registration is a code unique to a single aircraft)
- **cn/In:** Construction/Serial Number(is a unique identifier assigned to each individual aircraft during its manufacturing process)
- **Aboard:** Number of People Aboard
- **Fatalities:** Number of Fatalities
- **Ground:** individuals who are not on board the aircraft but are located in the vicinity of the crash site
- **Summary:** Brief Summary of the Case

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5268 entries, 0 to 5267
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          5268 non-null   object
 1   Time          3049 non-null   object
 2   Location      5248 non-null   object
 3   Operator      5250 non-null   object
 4   Flight #      1069 non-null   object
 5   Route         3561 non-null   object
 6   Type          5241 non-null   object
 7   Registration  4933 non-null   object
 8   cn/In         4040 non-null   object
 9   Aboard        5246 non-null   float64
 10  Fatalities    5256 non-null   float64
 11  Ground        5246 non-null   float64
 12  Summary       4878 non-null   object
dtypes: float64(3), object(10)
memory usage: 535.2+ KB

In [ ]:
df.iloc[5265]

Date                                                   06/01/2009
Time                                                        00:15
Location        AtlantiOcean, 570 miles northeast of Natal, Br...
Operator                                               Air France
Flight #                                                      447
Route                                      Rio de Janeiro - Paris
Type                                              Airbus A330-203
Registration                                               F-GZCP
cn/In                                                         660
Aboard                                                      228.0
Fatalities                                                  228.0
Ground                                                        0.0
Summary         The Airbus went missing over the AtlantiOcean ...
Name: 5265, dtype: object

In [ ]:
df.isnull().sum()

Date               0
Time            2219
Location          20
Operator          18
Flight #        4199
Route           1707
Type              27
Registration     335
cn/In           1228
Aboard            22
Fatalities        12
Ground            22
Summary          390
dtype: int64

In [ ]:
df['Time'] = df['Time'].replace(np.nan, '00:00')
df['Time'] = df['Time'].str.replace('c: ', '')
df['Time'] = df['Time'].str.replace('c:', '')
df['Time'] = df['Time'].str.replace('c', '')
df['Time'] = df['Time'].str.replace('12\'20', '12:20')
df['Time'] = df['Time'].str.replace('18.40', '18:40')
df['Time'] = df['Time'].str.replace('0943', '09:43')
df['Time'] = df['Time'].str.replace('22\'08', '22:08')
df['Time'] = df['Time'].str.replace('114:20', '00:00')

# Combine 'Date' and 'Time' columns in DateTime

df['DateTime'] = df['Date'] + ' ' + df['Time']

# Convert 'DateTime' to datetime type

def to_date(x):
    return datetime.strptime(x, '%m/%d/%Y %H:%M')

df['DateTime'] = df['DateTime'].apply(to_date)

# Convert 'Operator' column to uppercase duplicate values

df['Operator'] = df['Operator'].str.upper()
#remove date and time
df = df.drop('Date',axis=1)
df = df.drop('Time',axis=1)

In [ ]:
df = df.drop('Registration',axis=1)
df = df.drop('Flight #',axis=1)
df = df.drop('cn/In',axis=1)

In [ ]:
split_location = df['Location'].str.split(', ', expand=True)
df['City'] = split_location[0]
df['Country'] = split_location[1]
df = df.drop('Location',axis=1)

In [ ]:
df['Company'] = df['Type'].str.extract('([A-Za-z]+)') #manufacturer aircraft

In [ ]:
df.sample()

,Operator,Route,Type,Aboard,Fatalities,Ground,Summary,DateTime,City,Country,Company
3572,BRITISH AIRTOURS,Manchester - Kerkira,Boeing B-737-236,137.0,55.0,0.0,"During takeoff from Manchester, failure of the...",1985-08-22 06:13:00,Manchester,England,Boeing

In [ ]:
df.isnull().sum()

Operator        18
Route         1707
Type            27
Aboard          22
Fatalities      12
Ground          22
Summary        390
DateTime         0
City            20
Country        218
Company         27
dtype: int64

In [ ]:
'''
operator_counts = df['Operator']
for i in operator_counts:
    print(i)


'''

"\noperator_counts = df['Operator']\nfor i in operator_counts:\n    print(i)\n    \n    \n"

In [ ]:
df['Operator'].fillna('', inplace=True)

# Count occurrences of 'MILITARY SERVICE MAIL TRANSPORT EXPRESS' in 'Operator' column
air_force_count = df[df['Operator'].str.contains('AIR FORCE', case=False)]['Operator'].count()

service_count  = df[df['Operator'].str.contains('SERVICE', case=False)]['Operator'].count()

mail_count  = df[df['Operator'].str.contains('MAIL', case=False)]['Operator'].count()

express_count  = df[df['Operator'].str.contains('TRANSPORT', case=False)]['Operator'].count()

tranpor_count  = df[df['Operator'].str.contains('EXPRESS', case=False)]['Operator'].count()

military_count = df[df['Operator'].str.contains('MILITARY', case=False)]['Operator'].count()

# Display the count
print("Number of operators containing 'Air force':", air_force_count)
print("Number of operators containing 'MILLITARY':", military_count)
print("Number of operators containing 'SERVICE':", service_count)
print("Number of operators containing 'MAIL :", mail_count)
print("Number of operators containing 'TRANSPORT':", tranpor_count)
print("Number of operators containing 'EXPRESS':", express_count)

Number of operators containing 'Air force': 605
Number of operators containing 'MILLITARY': 781
Number of operators containing 'SERVICE': 250
Number of operators containing 'MAIL : 36
Number of operators containing 'TRANSPORT': 58
Number of operators containing 'EXPRESS': 153

In [ ]:
import numpy as np

# Define conditions for flight type
ope_conditions = [
    df['Operator'].str.contains('MAIL|EXPRESS|TRANSPORT|SERVICE', case=False, regex=True),
    df['Operator'].str.contains('PRIVATE', case=False),
    df['Operator'].str.contains('AIR FORCE|MILITARY', case=False, regex=True)
]

# Define corresponding values for flight type
flight_type_values = ['cargo', 'private', 'military']

# Create the 'Flight Type' column based on the conditions
df['Flight Type'] = np.select(ope_conditions, flight_type_values, default='passenger')

# Display the updated DataFrame
df.head()

,Operator,Route,Type,Aboard,Fatalities,Ground,Summary,DateTime,City,Country,Company,Flight Type
0,MILITARY - U.S. ARMY,Demonstration,Wright Flyer III,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly...",1908-09-17 17:18:00,Fort Myer,Virginia,Wright,military
1,MILITARY - U.S. NAVY,Test flight,Dirigible,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,1912-07-12 06:30:00,AtlantiCity,New Jersey,Dirigible,military
2,PRIVATE,NaN,Curtiss seaplane,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...,1913-08-06 00:00:00,Victoria,British Columbia,Curtiss,private
3,MILITARY - GERMAN NAVY,NaN,Zeppelin L-1 (airship),20.0,14.0,0.0,The airship flew into a thunderstorm and encou...,1913-09-09 18:30:00,Over the North Sea,None,Zeppelin,military
4,MILITARY - GERMAN NAVY,NaN,Zeppelin L-2 (airship),30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...,1913-10-17 10:30:00,Near Johannisthal,Germany,Zeppelin,military

In [ ]:
df.sample(5).T

,4055,41,5062,4032,5008
Operator,AEROFLOT,US AERIAL MAIL SERVICE,TANS PERU,TAROM,SARIT AIRLINES
Route,Ellsta - Makhackala,NaN,Lima - Pucallpa - Iquitos,Bucharest - Timisoara,El Obeid - Juba
Type,Yakovlev YAK-40,De Havilland DH-4,Boeing B-737-244,Ilyushin IL-18V,Antonov AN-12
Aboard,51.0,1.0,98.0,9.0,4.0
Fatalities,51.0,1.0,40.0,9.0,4.0
Ground,0.0,0.0,0.0,0.0,0.0
Summary,Crashed into a mountain during daytime in poor...,NaN,The plane was about to land at Pucallpa when i...,The cargo plane crashed in a rainstorm.,The cargo plane reported an engine failure and...
DateTime,1991-11-07 00:00:00,1920-10-15 00:00:00,2005-08-23 15:06:00,1991-08-14 00:00:00,2004-10-05 12:37:00
City,Makhackala,Batavia,Near Pucallpa,Near Uricani,Kaduqli
Country,Russia,Illinois,Peru,Romania,Sudan
Company,Yakovlev,De,Boeing,Ilyushin,Antonov
Flight Type,passenger,cargo,passenger,passenger,passenger

In [ ]:
new_column_order = ['DateTime', 'City', 'Country', 'Operator', 'Type', 'Company',
                    'Route', 'Aboard', 'Fatalities', 'Ground', 'Flight Type', 'Summary']
df = df[new_column_order]

In [ ]:
df.sample(3).T

,2162,1393,342
DateTime,1967-10-12 07:25:00,1955-09-17 00:00:00,1934-12-08 05:30:00
City,Off Rhodes,Near Thorhild,Columbia
Country,Greece,Canada,Missouri
Operator,BRITISH EUROPEAN AIRWAYS,PACIFIWESTERN AIRLINES,BRANIFF AIRLINES
Type,de Havilland Comet 4B,Bristol 170 Freighter 31,Lockheed Vega 5C
Company,de,Bristol,Lockheed
Route,Athens - Nicosia,"Edmonton, AB - Yellowknife, NT","Kansas City, MO - Chicago, IL"
Aboard,66.0,6.0,1.0
Fatalities,66.0,2.0,1.0
Ground,0.0,0.0,0.0
Flight Type,passenger,passenger,passenger
Summary,While flying at FL 290 the aircraft was destro...,"For reasons undetermined, the right engine fai...",The mail plane crashed to the ground from a lo...

In [ ]:
df.columns

Index(['Operator', 'Route', 'Type', 'Aboard', 'Fatalities', 'Ground',
       'Summary', 'DateTime', 'City', 'Country', 'Company', 'Flight Type'],
      dtype='object')

In [ ]:
df.to_csv('Airplane_Crashes_V2.csv', index=False)